<section class="" style="padding:2%">

    <div class="row">
        <div class="col col-md-10">
            <h1>Usuarios</h1>
        </div>
        <div class="col col-md-2 text-right">
            <button class="btn btn-success" (click)="openModalAddUser()">
                Crear
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        <button (click)="selectedUser(user)" class="btn btn-primary">Edit</button>
                        <button (click)="openModalDeleteUser(template, user.id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- modal delete user -->
    <ng-template #template>
        <div class="modal-body text-center">
            <p>Do you want to confirm?</p>
            <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
        </div>
    </ng-template>
     
</section>

