<section>
    <div>
        <h1>Editar Usuario</h1>
        <p>
            {{userData.username}}
        </p>
        <p>
            username form : {{username.value}}
        </p>
        <form [formGroup]="userForm">
            <div>
                <label for="">
                    Usuario
                </label>
                <input type="text" placeholder="Usuario" formControlName="username">
            </div>
            <div>
                <label for="">
                    Contraseña
                </label>
                <input type="text" placeholder="Contraseña" formControlName="password">
            </div>
            <div>
                <button (click)="update()">
                    Updae
                </button>
            </div>
        </form>
    </div>
</section>